{% extends "layout.html" %}

{% block title %}Change Password | {{ block.super }}{% endblock %}

{% block body %}
    <div class="grid-25">
        nav here maybe?
    </div>
    <div class="grid-75">
        <h1>Change Password</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button-primary" value="Submit">
        </form>
    </div>
{% endblock %}

{% block css %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/strength.css' %}" type="text/css" />
{% endblock %}

{% block javascript %}
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/strength.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
    <script>
        $(document).ready(function ($) {
            $("#id_new_password1").strength({
                strengthClass: 'strength',
                strengthMeterClass: 'strength_meter',
                strengthButtonClass: 'button_strength',
                strengthButtonText: 'Show password',
                strengthButtonTextToggle: 'Hide Password'
            });
        });
    </script>
{% endblock %}