{% extends "layout.html" %}

{% block title %}Edit Profile | {{ block.super }}{% endblock %}

{% block body %}
    <div class="grid-25">
        nav here
    </div>

    <div class="grid-75">
        <h1>Edit Avatar</h1>
        {% if user.profile.avatar %}
            <div class="circle--primary--avatar">
                <img src="{{ user.profile.avatar.url }}" id="target" alt="{{ user.first_name }} {{ user.last_name }}">
            </div>
        {% endif %}

        {% if user.profile.avatar %}
            <div id="editor-outer">
                <div class="editor-inner">
                    <form action="{% url 'accounts:edit_avatar_crop' %}" method="GET">
                        <input type="hidden" size="4" id="x1" name="x1" />
                        <input type="hidden" size="4" id="y1" name="y1" />
                        <input type="hidden" size="4" id="x2" name="x2" />
                        <input type="hidden" size="4" id="y2" name="y2" />

                        <div class="editor-inner"><input type="submit" class="button" value="Crop"></div>
                    </form>
                </div>
                <div class="editor-inner">
                    <button class="button"><a href="{% url 'accounts:edit_avatar_rotate' %}" class="button-editor">Rotate</a></button>
                </div>
                <div class="editor-inner">
                    <button class="button"><a href="{% url 'accounts:edit_avatar_flip' %}" class="button-editor">Flip</a></button>
                </div>
            </div>
        {% endif %}

        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            <br>
            New file: <input id="id_avatar" name="avatar" type="file">

            {% if user.profile.avatar %}
                <input id="avatar-clear_id" name="avatar-clear" type="checkbox"> Clear
            {% endif %}
            <br>
            <input type="submit" class="button-primary" value="Change">
        </form>

    </div>
{% endblock %}

{% block css %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.css' %}" type="text/css" />
{% endblock %}

{% block javascript %}
    {% load static from staticfiles %}
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script language="Javascript">
        function showCoords(c)
        {
            $('#x1').val(c.x);
            $('#y1').val(c.y);
            $('#x2').val(c.x2);
            $('#y2').val(c.y2);
        };
    </script>
    <script language="Javascript">
    jQuery(function($) {
        $('#target').Jcrop({
            onSelect: showCoords,
            onChange: showCoords
        });
    });
    </script>
{% endblock %}