{% extends "layout.html" %}

{% block title %}Edit Profile | {{ block.super }}{% endblock %}

{% block body %}
    <div class="grid-25">
        <p><a href="{% url 'accounts:change_password' %}">Change Password</a></p>
        <p><a href="{% url 'accounts:edit_avatar' %}">Edit Avatar</a> </p>
    </div>
    <div class="grid-75">
        <h1>Edit Profile</h1>
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {% if user.profile.avatar %}
                <div class="circle--primary--avatar">
                    <img src="{{ user.profile.avatar.url }}">
                </div>
            {% endif %}
            {{ form.as_p }}
            {{ formset.management_form }}
            <!--{{ formset.as_p }}-->
            {% for profile_form in formset %}
                {% for field in profile_form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        {{ field.errors }}
                        {% if field.name == "avatar" %}
                            {% if field.value %}
                                <img src="{{ field.value.url }}"><br>
                                <input id="avatar-clear_id" name="profile-0-avatar-clear" type="checkbox">
                                <label for="avatar-clear_id">Clear</label>
                            {% endif %}
                            <br>New Avatar: <input id="id_avatar" name="profile-0-avatar" type="file">
                        {% elif field.name == "bio" %}
                            {{ field.label_tag }}
                            <textarea name="profile-0-bio">{{ field.value }}</textarea>
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <input type="submit" class="button-primary" value="Save">
        </form>
    </div>
{% endblock %}

{% block javascript %}
    {% load static from staticfiles %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
{% endblock %}
