{% extends "layout.html" %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block body %}
<form method="POST" action="{% url 'accounts:sign_up' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="button-primary" value="Sign Up">
</form>
{% endblock %}

{% block css %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/strength.css' %}" type="text/css" />
{% endblock %}


{% block javascript %}
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/strength.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
    <script>
        $(document).ready(function ($) {
            $("#id_password1").strength({
                strengthClass: 'strength',
                strengthMeterClass: 'strength_meter',
                strengthButtonClass: 'button_strength',
                strengthButtonText: 'Show password',
                strengthButtonTextToggle: 'Hide Password'
            });
        });
    </script>
{% endblock %}